In [1]:
# Open API results with json module
import json
with open('example_yelp_results.json') as f:
    json_file = json.load(f)

In [2]:
# What is the top level of json?
type(json_file)

dict

In [3]:
# What are the keys?
json_file.keys()

dict_keys(['businesses', 'total', 'region'])

In [5]:
# What type is region?
type(json_file['region'])

dict

In [6]:
# What are the keys in this region?
json_file['region'].keys()

dict_keys(['center'])

In [7]:
# What type is center?
type(json_file['region']['center'])

dict

In [8]:
# What are the keys in this region?
json_file['region']['center'].keys()

dict_keys(['longitude', 'latitude'])

In [9]:
# Visualize the whole center dictionary
json_file['region']['center']

{'longitude': -76.607666015625, 'latitude': 39.29617825404647}

In [13]:
# What is stored under the total key?
type(json_file['total'])

int

In [14]:
# What is the value?
json_file['total']

435

In [15]:
# What is stored in the businesses key?
type(json_file['businesses'])

list

In [17]:
# How long is the list?
len(json_file['businesses'])

20

In [21]:
# What does the first business entry look like?
json_file['businesses'][0]

{'id': 'D9A33FM394q99o4QtK5YwA',
 'alias': 'faidleys-seafood-baltimore-3',
 'name': 'Faidleys Seafood',
 'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/OTjVDCVS7pGopH6GZcfjBA/o.jpg',
 'is_closed': False,
 'url': 'https://www.yelp.com/biz/faidleys-seafood-baltimore-3?adjust_creative=KJtcufKUS887p24u6rjVIQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=KJtcufKUS887p24u6rjVIQ',
 'review_count': 1184,
 'categories': [{'alias': 'seafood', 'title': 'Seafood'},
  {'alias': 'beerbar', 'title': 'Beer Bar'}],
 'rating': 4.0,
 'coordinates': {'latitude': 39.291696, 'longitude': -76.62224},
 'transactions': ['delivery'],
 'price': '$$',
 'location': {'address1': '203 N Paca St',
  'address2': '',
  'address3': '',
  'city': 'Baltimore',
  'zip_code': '21201',
  'country': 'US',
  'state': 'MD',
  'display_address': ['203 N Paca St', 'Baltimore, MD 21201']},
 'phone': '+14107274898',
 'display_phone': '(410) 727-4898',
 'distance': 1349.560720156645}

In [25]:
# What are the keys to the dictionary?
json_file['businesses'][0].keys()

dict_keys(['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'price', 'location', 'phone', 'display_phone', 'distance'])

In [26]:
# What are the keys in the next entry?
json_file['businesses'][1].keys()

dict_keys(['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'price', 'location', 'phone', 'display_phone', 'distance'])

In [29]:
# Turn the list of records into a dataframe
import pandas as pd
df_businesses = pd.DataFrame(json_file['businesses'])
df_businesses.head()

                       id  ...     distance
0  D9A33FM394q99o4QtK5YwA  ...  1349.560720
1  u65W69AhbjUlvJJBkEhGNQ  ...  1028.736468
2  ieS_5zqxDHcWMCm8BKUYbg  ...  2090.712792
3  6am8TZAFnvND52MOz-Yctg  ...  3328.825798
4  ISn7WyGQaFpsVSRSh0NSqg  ...  1817.406978

[5 rows x 16 columns]

In [36]:
df_businesses[['categories', 'coordinates', 'location']].head(3)

                                          categories  ...                                           location
0  [{'alias': 'seafood', 'title': 'Seafood'}, {'a...  ...  {'address1': '203 N Paca St', 'address2': '', ...
1  [{'alias': 'breakfast_brunch', 'title': 'Break...  ...  {'address1': '750 E Pratt St', 'address2': '',...
2  [{'alias': 'seafood', 'title': 'Seafood'}, {'a...  ...  {'address1': '1728 Thames St', 'address2': '',...

[3 rows x 3 columns]